*{
    margin: 0;
    padding: 0;
}

.card_content {
    width: 200px;
    height: 200px;
    border: 3px  solid red;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    font-size: 0.6rem;
}